<form action='/contact_us' method= get>


<label>Give Us Your Name</label><input type='text' name='name'/>
<label>Give Us Your Email</label><input type='text' name='email'/>
<label>Send Us A Message</label><input type='text' name='message'/>
<button>Contact Us</button>
