Thank You For Contacting Us, We Wont Be In Touch



  
<section>
  <header>
  </header>
  <p>Your name was: <%= @name %> </p>
  <p>Your email was: <%= @email %> </p>
  <p>Your final message was: <%= @message %> </p>
  <hr/>
  
</section>




 